VITE_API_BASE_URL=http://localhost:5000/api
VITE_GOOGLE_CLIENT_ID=
VITE_KIRVANO_ESSENTIAL_URL=https://pay.kirvano.com/seu-produto-essencial
VITE_KIRVANO_WHATSAPP_URL=https://pay.kirvano.com/seu-produto-whatsapp
